{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_aot/entrance


    Example context (json):
    {

    }
}}

<head>
    <title>Automated VIVA for Coursework</title>
</head>

<body>
<div class="heading" style="height:100px;">
    <h1 style="font-style: italic;text-align: center;">ACADEMIC HONESTY AND INTEGRITY</h1>
</div>
<hr>
<div class="body">
    <div class="honestySmt">
        <p style="font-size:x-large">
            Students at King’s are part of an academic community that values trust,
            fairness and respect and actively
            encourages students to act with honesty and integrity.
            It is a College policy that students take responsibility for
            their work and comply with the university’s standards and requirements.
        </p>
        <p style="font-size:x-large">
            By submitting this assignment,
            I confirm that this work is entirely my own, or is the work of an
            assigned or permitted group, of which i am a member,
            with exception to any content where the works of others have
            been acknowledged with appropriate referencing.
            I also confirm that I have read and understood the
            College’s Academic Honesty & Integrity.</p>
        <p style="font-size:large">For more information of policy:<a
                href="https://www.kcl.ac.uk/governancezone/assessment/academic-honesty-integrity ">
            Policy</a></p>
</body>


